// visual
#visual {
    width:100%; height:700px; background:#444; 
}

/* tablet */
@media screen and (max-width:$tablet){
    $num : 4; 

    // visual
    #visual {
        height:400px; background:lightblue; 
    }
}

/* mobile */
@media screen and (max-width:$mobile){  
    $num : 3;  
  

    // visual
    #visual {
        height:200px; background:orange; 
    }

}